@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Borel", serif;
}
button {
    font-size: 16px;
    cursor: pointer;
    display: inline;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 10px;
}
button img{
    height: 30px;
    position: absolute;
    top: -5%;
    left: -5%;
}
.hide{
    display: none;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    height: 100%;
    width: 100%;
    /* position: relative; */
}
  .xyz {
    margin: 0;
    background: #f69606;
    background-image: url(message.png);
    width: 100vw;
    height: 100vh; /* Set a height for the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Ensures the image is centered */

    display: flex;
    flex-direction: column;
    padding: 50px 200px 0px 200px;

}
.xyz h1{
    font-family: "Ballet", serif;
    padding-left: 100px;
    font-weight: 200;
    font-size:50px;
    color: rgb(217, 255, 0);
    text-shadow: 5px 5px #fc9a07;
    /* -webkit-text-stroke: 0.001px rgb(240, 30, 30); */
    filter: drop-shadow(1px 1px 20px yellow);
}
::selection{
    color: rgb(217, 255, 0);
    background-color: #f89602;
}
#message{
    padding-top: 30px;
}
 
.riya{
    color: rgb(240, 68, 177);
    filter: drop-shadow(1px 1px 20px rgb(255, 0, 204));
}
.summi{
    font-size: 10px;
    color: rgb(46, 44, 44);
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
 { 
     
    .xyz2{
        display: none;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
    {
      .xyz{
        display: none;
      }
    
     .xyz2{
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;

        background:linear-gradient(orange,yellow);
     }
     .one, .two{
        position: absolute;
     }
     .one img{
        height: 115vh;
     }
     .two{
        padding-left: 30px;
        min-width: 550px;
     }
     .two h1{
        padding-left: 120px;
        font-family: "Ballet", serif;
  
    
    color: rgb(217, 255, 0);
    text-shadow: 5px 5px #fc9a07;
    /* -webkit-text-stroke: 0.001px rgb(240, 30, 30); */
    filter: drop-shadow(1px 1px 20px yellow);
     }
     .two h2{
        padding-left: 60px;
     }
     .two h3{
        padding-left: 60px;
        color: rgb(0, 255, 98);
     }
     .two h4{
        padding-left: 60px;
        color: #caf606;
     }
     #sandesh p{
        padding-left: 60px;
        color: yellow;
     }
     .riyu{
        color: rgb(240, 68, 177);
        filter: drop-shadow(1px 1px 20px rgb(211, 247, 5));
        outline-style: solid orange;
     } 
     .btn{
        background-color: transparent;
        background: transparent;
        border: none;
     }
  }